<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8" th:remove="all" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1" th:remove="all" />
  <link rel="stylesheet" href="../../../../static/lib/normalize/css/normalize.css" type="text/css" media="screen,print" th:remove="all" />
  <link rel="stylesheet" href="../../../../static/lib/bootstrap/css/bootstrap.min.css" type="text/css" media="screen,print" th:remove="all" />
  <link rel="stylesheet" href="../../../../static/lib/bootstrap/css/bootstrap-theme.min.css" type="text/css" media="screen,print" th:remove="all" />
  <link rel="stylesheet" href="../../META-INF/resources/static/css/layout.css" type="text/css" media="screen,print" th:remove="all" />
  <script src="../../../../static/lib/bootstrap/js/bootstrap.min.js" th:remove="all"></script>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">ファイル一覧</title>
</head>
<body>
  <div class="container">
    <div layout:fragment="content">
      <h1 class="page-header">ファイル一覧</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ファイル名</th>
            <th>サイズ(バイト)</th>
            <th></th>
          </tr>
        </thead>
        <tbody th:remove="all-but-first" th:each="file : ${files}">
          <tr>
            <td><a th:href="@{/files/{id}/data(id=${file.id})}" th:text="${file.name}">xxxx.txt</a></td>
            <td th:text="${#numbers.formatInteger(file.size, 1, 'COMMA')}">1,024</td>
            <td><a class="btn btn-default" href="show.html" th:href="@{/files/{id}(id=${file.id})}">詳細</a></td>
          </tr>
          <tr>
            <td><a>xxxx.jpg</a></td>
            <td>2,048</td>
            <td><a class="btn btn-default" href="show.html">詳細</a></td>
          </tr>
          <tr>
            <td><a>xxxx.zip</a></td>
            <td>4,096</td>
            <td><a class="btn btn-default" href="show.html">詳細</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
